.vscode/**
.vscode-test/**
out/**
src/**
.gitignore
.yarnrc
webpack.config.js
.github/**
tsconfig.json
tslint.json
.eslintrc.json
node_modules/**
**/*.map
**/*.ts
**/*.vsix
.git/**
test/**
memo.md
ARCHITECTURE.md
rules.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
!dist/** 